= simple_form_for(area) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :type
    = f.input :parent_id, collection: Area.all.where(:_id.ne => area._id), value_method: :_id, label_method: :name

  .form-actions
    = f.button :submit
